<main>
  <div class="row-centred">
    <form action="" class="custom-form">
      <select class="custom-select">
        <option selected="">Категория</option>
        <option value="1">Авто</option>
        <option value="2">Жилье</option>
        <option value="3">Прочее</option>
      </select>
      <input type="text" class="form-control flex-grow mb-2 mr-sm-2 mb-sm-0" placeholder="Например: Ford Focus 2015">
      <select class="custom-select input-small mb-2 mr-sm-2 mb-sm-0 d-inline-flex">
        <option selected="">Регион</option>
        <option value="1">Севастополь</option>
        <option value="2">Симферополь</option>
        <option value="3">Ялта</option>
      </select>
      <button type="submit" class="btn btn-primary">Найти</button>
      <div class="check-items">
        <input type="checkbox" id="caption">
        <label for="caption">Только в названиях</label>
        <input type="checkbox" id="photo">
        <label for="photo">Только c фото</label>
      </div>
    </form>
    <div class="custom-card-container">
      <div class="custom-card">
        <img src="../../../assets/images/cute-car.jpg" alt="Картинка для карточки" class="custom-card-image">
        <div class="custom-card-content">
          <h2 class="custom-card-caption">Название карточки</h2>
          <p class="custom-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum in ipsum iste repellat. Ad aperiam, dicta dignissimos doloremque eaque eveniet exercitationem fugiat maxime nesciunt officia perspiciatis, recusandae repellendus vitae?</p>
        </div>
        <div class="custom-card-footer">
          <p class="custom-card-date">Добвлено: 22.03.2018 в 22.45</p>
          <a href="#" class="btn btn-secondary">Купить</a>
        </div>
      </div>
      <div class="custom-card">
        <img src="../../../assets/images/cute-car.jpg" alt="Картинка для карточки" class="custom-card-image">
        <div class="custom-card-content">
          <h2 class="custom-card-caption">Название карточки</h2>
          <p class="custom-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum in ipsum iste repellat. Ad aperiam, dicta dignissimos doloremque eaque eveniet exercitationem fugiat maxime nesciunt officia perspiciatis, recusandae repellendus vitae?</p>
        </div>
        <div class="custom-card-footer">
          <p class="custom-card-date">Добвлено: 22.03.2018 в 22.45</p>
          <a href="#" class="btn btn-secondary">Купить</a>
        </div>
      </div>
      <div class="custom-card">
        <img src="../../../assets/images/cute-car.jpg" alt="Картинка для карточки" class="custom-card-image">
        <div class="custom-card-content">
          <h2 class="custom-card-caption">Название карточки</h2>
          <p class="custom-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum in ipsum iste repellat. Ad aperiam, dicta dignissimos doloremque eaque eveniet exercitationem fugiat maxime nesciunt officia perspiciatis, recusandae repellendus vitae?</p>
        </div>
        <div class="custom-card-footer">
          <p class="custom-card-date">Добвлено: 22.03.2018 в 22.45</p>
          <a href="#" class="btn btn-secondary">Купить</a>
        </div>
      </div>
      <div class="custom-card">
        <img src="../../../assets/images/cute-car.jpg" alt="Картинка для карточки" class="custom-card-image">
        <div class="custom-card-content">
          <h2 class="custom-card-caption">Название карточки</h2>
          <p class="custom-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum in ipsum iste repellat. Ad aperiam, dicta dignissimos doloremque eaque eveniet exercitationem fugiat maxime nesciunt officia perspiciatis, recusandae repellendus vitae?</p>
        </div>
        <div class="custom-card-footer">
          <p class="custom-card-date">Добвлено: 22.03.2018 в 22.45</p>
          <a href="#" class="btn btn-secondary">Купить</a>
        </div>
      </div>
      <div class="custom-card">
        <img src="../../../assets/images/cute-car.jpg" alt="Картинка для карточки" class="custom-card-image">
        <div class="custom-card-content">
          <h2 class="custom-card-caption">Название карточки</h2>
          <p class="custom-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum in ipsum iste repellat. Ad aperiam, dicta dignissimos doloremque eaque eveniet exercitationem fugiat maxime nesciunt officia perspiciatis, recusandae repellendus vitae?</p>
        </div>
        <div class="custom-card-footer">
          <p class="custom-card-date">Добвлено: 22.03.2018 в 22.45</p>
          <a href="#" class="btn btn-secondary">Купить</a>
        </div>
      </div>
      <div class="custom-card">
        <img src="../../../assets/images/cute-car.jpg" alt="Картинка для карточки" class="custom-card-image">
        <div class="custom-card-content">
          <h2 class="custom-card-caption">Название карточки</h2>
          <p class="custom-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum in ipsum iste repellat. Ad aperiam, dicta dignissimos doloremque eaque eveniet exercitationem fugiat maxime nesciunt officia perspiciatis, recusandae repellendus vitae?</p>
        </div>
        <div class="custom-card-footer">
          <p class="custom-card-date">Добвлено: 22.03.2018 в 22.45</p>
          <a href="#" class="btn btn-secondary">Купить</a>
        </div>
      </div>
    </div>
  </div>
</main>
